<!DOCTYPE html>
<html ng-app="myTodoApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" src="styles/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">



  <title>Things I Must Do</title>
</head>
  <body ng-controller="TodoAppController as todoCtrl" >
    <form name="myform" ng-submit="myform.$valid && todoCTrl.addNewTask()" novalidate>
      <label>Task</label>
      <input type="text" ng-model="todoCtrl.newTask.name" required>
      <label>Description</label>
      <input type="text" ng-model="todoCtrl.newTask.desc" required>
      <label>Due Date</label>
      <input type="date" ng-model"todoCtrl.newTask.due" required>
      <label>Priority</label>
      <select ng-model="todoCtrl.newTask.priority">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>

      </select>
      <label>Price I am willing to pay</label>
      <input type="text" ng-model="todoCtrl.newTask.cost">
      <input type="submit" value="Add Task" ng-show="myform.$valid"></input>
    </form>
    <table>
      <thead>
        <tr>
          <td>
            Task
          </td>
          <td>
            Description
          </td>
          <td>
            Due Date
          </td>
          <td>
            Priority
          </td>
          <td>
            Price I am willing to pay someone else to do this
          </td>
        </tr>
      </thead>
      <tbody >
        <tr ng-repeat="task in todoCtrl.tasks">
          <td>
            {{task.name}}
          </td>
          <td>
            {{task.desc}}
          </td>
          <td>
            {{task.due | date:shortDate}}
          </td>
          <td>
            {{task.priority}}
          </td>
          <td>
            {{task.cost | orderBy: 'cost'}}
          </td>
          <td>
            <button ng-click="todoCtrl.removeTask(task);">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

  </body>
<script style="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>
</html>
